In [1]:
import pandas as pd
data = {
    "id_producto": [1, 2, 3, 4, 5],
    "nombre_producto": ["Manzana", "Pera", "Uva", "Naranja", "Platano"],
    "precio": [50.5, None, 150, 80, None],
    "cantidad": [None, 50, None, 20, 30]
}

df = pd.DataFrame(data)
df

   id_producto nombre_producto  precio  cantidad
0            1         Manzana    50.5       NaN
1            2            Pera     NaN      50.0
2            3             Uva   150.0       NaN
3            4         Naranja    80.0      20.0
4            5         Platano     NaN      30.0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_producto      5 non-null      int64
 1   nombre_producto  5 non-null      object
 2   precio           3 non-null      float64
 3   cantidad         3 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 292.0+ bytes

In [3]:
df.isnull().sum()

id_producto        0
nombre_producto    0
precio             2
cantidad           2
dtype: int64

In [4]:
df.limpio = df.dropna()
df.limpio

C:\Users\Fernando\AppData\Local\Temp\ipykernel_11000\592840562.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.limpio = df.dropna()

   id_producto nombre_producto  precio  cantidad
3            4         Naranja    80.0      20.0

In [ ]:
df_rellenado = df.fillna({"precio": df["precio"].mean(), "cantidad": 0})
df.rellenado

In [ ]:
df.unicos = df_rellenado.drop_duplicates(subset=["id_producto"])
df.unicos